In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D, Dropout

In [2]:
house_data = pd.read_csv("housepricedata.csv")

In [3]:
house_data

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0

In [4]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 11 columns):
LotArea             1460 non-null int64
OverallQual         1460 non-null int64
OverallCond         1460 non-null int64
TotalBsmtSF         1460 non-null int64
FullBath            1460 non-null int64
HalfBath            1460 non-null int64
BedroomAbvGr        1460 non-null int64
TotRmsAbvGrd        1460 non-null int64
Fireplaces          1460 non-null int64
GarageArea          1460 non-null int64
AboveMedianPrice    1460 non-null int64
dtypes: int64(11)
memory usage: 125.6 KB

In [5]:
house_data.isnull().sum()

LotArea             0
OverallQual         0
OverallCond         0
TotalBsmtSF         0
FullBath            0
HalfBath            0
BedroomAbvGr        0
TotRmsAbvGrd        0
Fireplaces          0
GarageArea          0
AboveMedianPrice    0
dtype: int64

In [6]:
house_data.head(10)

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
5,14115,5,5,796,1,1,1,5,0,480,0
6,10084,8,5,1686,2,0,3,7,1,636,1
7,10382,7,6,1107,2,1,3,7,2,484,1
8,6120,7,5,952,2,0,2,8,2,468,0
9,7420,5,6,991,1,0,2,5,2,205,0

In [7]:
house_data.tail(10)

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
1450,9000,5,5,896,2,2,4,8,0,0,0
1451,9262,8,5,1573,2,0,3,7,1,840,1
1452,3675,5,5,547,1,0,2,5,0,525,0
1453,17217,5,5,1140,1,0,3,6,0,0,0
1454,7500,7,5,1221,2,0,2,6,0,400,1
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0

In [8]:
house_data.shape

(1460, 11)

## Data splitting

In [9]:
x = house_data.iloc[:,0:10]
x

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea
0,8450,7,5,856,2,1,3,8,0,548
1,9600,6,8,1262,2,0,3,6,1,460
2,11250,7,5,920,2,1,3,6,1,608
3,9550,7,5,756,1,0,3,7,1,642
4,14260,8,5,1145,2,1,4,9,1,836
...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460
1456,13175,6,6,1542,2,0,3,7,2,500
1457,9042,7,9,1152,2,0,4,9,2,252
1458,9717,5,6,1078,1,0,2,5,0,240
1459,9937,5,6,1256,1,1,3,6,0,276

In [10]:
y = np.ravel(house_data.AboveMedianPrice)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [12]:
scaler = MinMaxScaler()
scaler.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [13]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
model = Sequential()

In [15]:
model.add(Dense(32, activation="relu", input_shape=(10,)))
model.add(Dense(32, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

In [16]:
model.compile(optimizer="sgd", loss="binary_crossentropy", metrics = ["accuracy"])

In [17]:
model.fit(x_train, y_train, epochs=100, batch_size=32)

Train on 1168 samples
Epoch 1/100
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fd9c4559048> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: module 'gast' has no attribute 'Num'
WARNING: Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fd9c4559048> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: module 'gast' has no attribute 'Num'
1168/1168 [==============================] - 1s 467us/sample - loss: 0.6600 - accuracy: 0.5154
Epoch 2/100
1168/1168 [==============================] - 0s 79us/sample - loss: 0.6523 - accuracy: 0.5385
Epoch 3/100
1168/1168 [==============================] - 0s 74us/sample - loss: 0.6444 - accuracy: 0.5728
Epoch 4/100
1168/1168 [==============================] - 0s 69us/sample - loss: 0.6362 - accuracy: 0.6404
Epoch 5/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.6280 - accuracy: 0.6952
Epoch 6/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.6196 - accuracy: 0.7286
Epoch 7/100
1168/1168 [==============================] - 0s 78us/sample - loss: 0.6114 - accuracy: 0.7560
Epoch 8/100
1168/1168 [==============================] - 0s 77us/sample - loss: 0.6030 - accuracy: 0.7680
Epoch 9/100
1168/1168 [==============================] - 0s 80us/sample - loss: 0.5945 - accuracy: 0.7834
Epoch 10/100
1168/1168 [==============================] - 0s 83us/sample - loss: 0.5857 - accuracy: 0.7962
Epoch 11/100
1168/1168 [==============================] - 0s 92us/sample - loss: 0.5768 - accuracy: 0.7971
Epoch 12/100
1168/1168 [==============================] - 0s 90us/sample - loss: 0.5677 - accuracy: 0.8031
Epoch 13/100
1168/1168 [==============================] - 0s 82us/sample - loss: 0.5585 - accuracy: 0.8099
Epoch 14/100
1168/1168 [==============================] - 0s 84us/sample - loss: 0.5492 - accuracy: 0.8142
Epoch 15/100
1168/1168 [==============================] - 0s 87us/sample - loss: 0.5398 - accuracy: 0.8151
Epoch 16/100
1168/1168 [==============================] - 0s 92us/sample - loss: 0.5304 - accuracy: 0.8202
Epoch 17/100
1168/1168 [==============================] - 0s 89us/sample - loss: 0.5210 - accuracy: 0.8271
Epoch 18/100
1168/1168 [==============================] - 0s 87us/sample - loss: 0.5114 - accuracy: 0.8305
Epoch 19/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.5021 - accuracy: 0.8279
Epoch 20/100
1168/1168 [==============================] - 0s 80us/sample - loss: 0.4928 - accuracy: 0.8348
Epoch 21/100
1168/1168 [==============================] - 0s 91us/sample - loss: 0.4838 - accuracy: 0.8408
Epoch 22/100
1168/1168 [==============================] - 0s 90us/sample - loss: 0.4747 - accuracy: 0.8399
Epoch 23/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.4660 - accuracy: 0.8433
Epoch 24/100
1168/1168 [==============================] - 0s 97us/sample - loss: 0.4575 - accuracy: 0.8408
Epoch 25/100
1168/1168 [==============================] - 0s 107us/sample - loss: 0.4496 - accuracy: 0.8476
Epoch 26/100
1168/1168 [==============================] - 0s 106us/sample - loss: 0.4411 - accuracy: 0.8485
Epoch 27/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.4343 - accuracy: 0.8553
Epoch 28/100
1168/1168 [==============================] - 0s 99us/sample - loss: 0.4267 - accuracy: 0.8536
Epoch 29/100
1168/1168 [==============================] - 0s 92us/sample - loss: 0.4200 - accuracy: 0.8570
Epoch 30/100
1168/1168 [==============================] - 0s 103us/sample - loss: 0.4130 - accuracy: 0.8570
Epoch 31/100
1168/1168 [==============================] - 0s 107us/sample - loss: 0.4068 - accuracy: 0.8536
Epoch 32/100
1168/1168 [==============================] - 0s 104us/sample - loss: 0.4004 - accuracy: 0.8596
Epoch 33/100
1168/1168 [==============================] - 0s 106us/sample - loss: 0.3946 - accuracy: 0.8613
Epoch 34/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.3890 - accuracy: 0.8630
Epoch 35/100
1168/1168 [==============================] - 0s 103us/sample - loss: 0.3838 - accuracy: 0.8664
Epoch 36/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.3783 - accuracy: 0.8656
Epoch 37/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.3737 - accuracy: 0.8630
Epoch 38/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.3695 - accuracy: 0.8699
Epoch 39/100
1168/1168 [==============================] - 0s 104us/sample - loss: 0.3651 - accuracy: 0.8630
Epoch 40/100
1168/1168 [==============================] - 0s 89us/sample - loss: 0.3619 - accuracy: 0.8716
Epoch 41/100
1168/1168 [==============================] - 0s 96us/sample - loss: 0.3575 - accuracy: 0.8690
Epoch 42/100
1168/1168 [==============================] - 0s 88us/sample - loss: 0.3540 - accuracy: 0.8716
Epoch 43/100
1168/1168 [==============================] - ETA: 0s - loss: 0.3486 - accuracy: 0.87 - 0s 82us/sample - loss: 0.3509 - accuracy: 0.8724
Epoch 44/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.3481 - accuracy: 0.8664
Epoch 45/100
1168/1168 [==============================] - 0s 84us/sample - loss: 0.3450 - accuracy: 0.8664
Epoch 46/100
1168/1168 [==============================] - 0s 77us/sample - loss: 0.3421 - accuracy: 0.8716
Epoch 47/100
1168/1168 [==============================] - 0s 90us/sample - loss: 0.3396 - accuracy: 0.8724
Epoch 48/100
1168/1168 [==============================] - 0s 85us/sample - loss: 0.3372 - accuracy: 0.8741
Epoch 49/100
1168/1168 [==============================] - 0s 99us/sample - loss: 0.3347 - accuracy: 0.8716
Epoch 50/100
1168/1168 [==============================] - 0s 98us/sample - loss: 0.3326 - accuracy: 0.8750
Epoch 51/100
1168/1168 [==============================] - 0s 100us/sample - loss: 0.3302 - accuracy: 0.8733
Epoch 52/100
1168/1168 [==============================] - 0s 98us/sample - loss: 0.3283 - accuracy: 0.8750
Epoch 53/100
1168/1168 [==============================] - 0s 105us/sample - loss: 0.3268 - accuracy: 0.8767
Epoch 54/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.3247 - accuracy: 0.8724
Epoch 55/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.3233 - accuracy: 0.8793
Epoch 56/100
1168/1168 [==============================] - 0s 99us/sample - loss: 0.3221 - accuracy: 0.8750
Epoch 57/100
1168/1168 [==============================] - 0s 103us/sample - loss: 0.3190 - accuracy: 0.8776
Epoch 58/100
1168/1168 [==============================] - 0s 105us/sample - loss: 0.3182 - accuracy: 0.8767
Epoch 59/100
1168/1168 [==============================] - 0s 108us/sample - loss: 0.3170 - accuracy: 0.8767
Epoch 60/100
1168/1168 [==============================] - 0s 104us/sample - loss: 0.3152 - accuracy: 0.8759
Epoch 61/100
1168/1168 [==============================] - 0s 98us/sample - loss: 0.3142 - accuracy: 0.8784
Epoch 62/100
1168/1168 [==============================] - 0s 97us/sample - loss: 0.3129 - accuracy: 0.8767
Epoch 63/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.3121 - accuracy: 0.8810
Epoch 64/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.3100 - accuracy: 0.8750
Epoch 65/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.3086 - accuracy: 0.8707
Epoch 66/100

1168/1168 [==============================] - 0s 79us/sample - loss: 0.3088 - accuracy: 0.8801
Epoch 67/100
1168/1168 [==============================] - 0s 80us/sample - loss: 0.3067 - accuracy: 0.8793
Epoch 68/100
1168/1168 [==============================] - 0s 86us/sample - loss: 0.3064 - accuracy: 0.8801
Epoch 69/100
1168/1168 [==============================] - 0s 99us/sample - loss: 0.3052 - accuracy: 0.8776
Epoch 70/100
1168/1168 [==============================] - 0s 91us/sample - loss: 0.3031 - accuracy: 0.8776
Epoch 71/100
1168/1168 [==============================] - 0s 85us/sample - loss: 0.3028 - accuracy: 0.8776
Epoch 72/100
1168/1168 [==============================] - 0s 95us/sample - loss: 0.3019 - accuracy: 0.8759
Epoch 73/100
1168/1168 [==============================] - 0s 106us/sample - loss: 0.3013 - accuracy: 0.8810
Epoch 74/100
1168/1168 [==============================] - 0s 100us/sample - loss: 0.3000 - accuracy: 0.8818
Epoch 75/100
1168/1168 [==============================] - 0s 89us/sample - loss: 0.2990 - accuracy: 0.8801
Epoch 76/100
1168/1168 [==============================] - 0s 94us/sample - loss: 0.2985 - accuracy: 0.8784
Epoch 77/100
1168/1168 [==============================] - 0s 88us/sample - loss: 0.2983 - accuracy: 0.8793
Epoch 78/100
1168/1168 [==============================] - 0s 103us/sample - loss: 0.2975 - accuracy: 0.8818
Epoch 79/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.2963 - accuracy: 0.8810
Epoch 80/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.2954 - accuracy: 0.8844
Epoch 81/100
1168/1168 [==============================] - 0s 100us/sample - loss: 0.2949 - accuracy: 0.8827
Epoch 82/100
1168/1168 [==============================] - 0s 93us/sample - loss: 0.2942 - accuracy: 0.8801
Epoch 83/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.2934 - accuracy: 0.8827
Epoch 84/100
1168/1168 [==============================] - 0s 105us/sample - loss: 0.2929 - accuracy: 0.8818
Epoch 85/100
1168/1168 [==============================] - 0s 103us/sample - loss: 0.2922 - accuracy: 0.8836
Epoch 86/100
1168/1168 [==============================] - 0s 105us/sample - loss: 0.2915 - accuracy: 0.8853
Epoch 87/100
1168/1168 [==============================] - 0s 105us/sample - loss: 0.2909 - accuracy: 0.8853
Epoch 88/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.2902 - accuracy: 0.8870
Epoch 89/100
1168/1168 [==============================] - 0s 102us/sample - loss: 0.2895 - accuracy: 0.8827
Epoch 90/100
1168/1168 [==============================] - 0s 106us/sample - loss: 0.2892 - accuracy: 0.8827
Epoch 91/100
1168/1168 [==============================] - 0s 100us/sample - loss: 0.2886 - accuracy: 0.8861
Epoch 92/100
1168/1168 [==============================] - 0s 92us/sample - loss: 0.2875 - accuracy: 0.8887
Epoch 93/100
1168/1168 [==============================] - 0s 101us/sample - loss: 0.2874 - accuracy: 0.8853
Epoch 94/100
1168/1168 [==============================] - 0s 100us/sample - loss: 0.2860 - accuracy: 0.8853
Epoch 95/100
1168/1168 [==============================] - 0s 90us/sample - loss: 0.2865 - accuracy: 0.8844
Epoch 96/100
1168/1168 [==============================] - 0s 92us/sample - loss: 0.2862 - accuracy: 0.8878
Epoch 97/100
1168/1168 [==============================] - 0s 90us/sample - loss: 0.2836 - accuracy: 0.8844
Epoch 98/100
1168/1168 [==============================] - 0s 91us/sample - loss: 0.2848 - accuracy: 0.8836
Epoch 99/100
1168/1168 [==============================] - 0s 96us/sample - loss: 0.2846 - accuracy: 0.8844
Epoch 100/100
1168/1168 [==============================] - 0s 95us/sample - loss: 0.2839 - accuracy: 0.8853

In [18]:
results = model.evaluate(x_test, y_test)

292/1 [========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 0s 404us/sample - loss: 0.1513 - accuracy: 0.9075

We have a loss of about 15% and an accuracy of 90%.

In [29]:
predictions = model.predict(x_test)

In [30]:
predictions[:10]

array([[0.02961069],
       [0.9963888 ],
       [0.09295288],
       [0.83025944],
       [0.9928744 ],
       [0.02323127],
       [0.7533058 ],
       [0.88283825],
       [0.02323291],
       [0.05060539]], dtype=float32)

In [31]:
y_test[:10]

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 0])

So these results are about on par with the accuracy percent.

In [40]:
len(predictions)

292

In [41]:
len(y_test)

292

In [48]:
data = {
    'Predicted': predictions,
    'Expected': y_test
}

In [79]:
predictions_only = []
for value in predictions:
    predictions_only.append(value[0])

In [80]:
df = pd.DataFrame()

In [81]:
type(predictions)

numpy.ndarray

In [83]:
df["Predicted"] = predictions_only

In [84]:
df["Expected"] = y_test

In [86]:
df[:10]

   Predicted  Expected
0   0.029611         0
1   0.996389         1
2   0.092953         0
3   0.830259         0
4   0.992874         1
5   0.023231         0
6   0.753306         1
7   0.882838         0
8   0.023233         0
9   0.050605         0

In [89]:
df[-10:]

     Predicted  Expected
282   0.871414         1
283   0.018055         0
284   0.984102         1
285   0.706649         1
286   0.884178         1
287   0.029687         0
288   0.878680         1
289   0.931619         1
290   0.034229         0
291   0.016799         0

So from the above, we can see that out of the first 10 values, the 4th one has been incorrectly guessed, and the 8th one as well, and for the last 10 all of them are correct. This (although only a sample size of 20) gets us pretty much at the 90% accuracy mark.